# PBDA Project
## Analysis and Forecasting of Black Friday Sales

Tejas Shetty - trs389@nyu.edu

Sanjana Jangnure - sbj286@nyu.edu

Aishwarya Kore - adk497@nyu.edu

Richanshu Jha - rj1469@nyu.edu

--- 

### Required Python modules
1. PySpark
2. findSpark

### To Run:
1. Please ensure the required Python modules are installed.
2. This ```.ipynb``` file can be run as a jupyter notebook.

In [1]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType

spark = SparkSession\
        .builder\
        .appName("PBDA_Project")\
        .getOrCreate()

# Prepare training and test data.
data = spark.read.format("csv")\
    .option("header","true")\
    .option("inferSchema", "true")\
    .load("E:\#Notes and Study Stuff\PBDA\Final Project\data\\train.csv")

df = data

In [2]:
GenderF = F.udf(lambda x : '1' if x=='F' else 0)

df=df.withColumn("newgender",GenderF(df.Gender).cast(IntegerType()))
df.select("Gender","newgender").show()

productidF=F.udf(lambda x:str(x).strip('P'))

df=df.withColumn("newpid",productidF(df.Product_ID).cast(IntegerType()))
df.select("Product_ID","newpid").show()

cityCategoryF=F.udf(lambda x : 0 if x=='A' else(1 if x=='B' else 2))

df=df.withColumn("newcityCategory",cityCategoryF(df.City_Category).cast(IntegerType()))
df.select("City_Category","newcityCategory").show()

df.printSchema()

+------+---------+
|Gender|newgender|
+------+---------+
|     F|        1|
|     F|        1|
|     F|        1|
|     F|        1|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     M|        0|
|     F|        1|
|     F|        1|
|     F|        1|
|     F|        1|
|     M|        0|
|     M|        0|
+------+---------+
only showing top 20 rows

+----------+------+
|Product_ID|newpid|
+----------+------+
| P00069042| 69042|
| P00248942|248942|
| P00087842| 87842|
| P00085442| 85442|
| P00285442|285442|
| P00193542|193542|
| P00184942|184942|
| P00346142|346142|
|  P0097242| 97242|
| P00274942|274942|
| P00251242|251242|
| P00014542| 14542|
| P00031342| 31342|
| P00145042|145042|
| P00231342|231342|
| P00190242|190242|
|  P0096642| 96642|
| P00058442| 58442|
| P00036842| 36842|
| P00249542|249542|
+----------+------+
only showing top 20 rows

+-------------+---------------+
|City_Category|newcityCategory|
+-------------+---------------+
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            C|              2|
|            A|              0|
|            B|              1|
|            B|              1|
|            B|              1|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            A|              0|
|            B|              1|
|            C|              2|
+-------------+---------------+
only showing top 20 rows

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)
 |-- newgender: integer (nullable = true)
 |-- newpid: integer (nullable = true)
 |-- newcityCategory: integer (nullable = true)

In [3]:
from pyspark.ml.feature import Word2Vec
from pyspark.ml.feature import Tokenizer, RegexTokenizer
from pyspark.ml.feature import RegexTokenizer, CountVectorizer
from pyspark.sql import functions as F

merged = F.udf(lambda a,b,c,d,e,f,g,h,i,j: 'a'+str(a)+' b'+str(b)+' c'+str(c)+ \
               ' d'+str(d)+' e'+str(e)+' f'+str(f)+' g'+str(g)+' h'+str(h)+' i'+str(i)+ \
               ' j'+str(j))


df = df.withColumn('X',merged(df['Age'], df['newgender'], df['Occupation'], \
                              df['newpid'], df['newcityCategory'], \
                              df['Stay_In_Current_City_Years'], df['Marital_Status'], \
                              df['Product_Category_1'], df['Product_Category_2'], df['Product_Category_3']))

df.select('Age', 'newgender', 'Occupation', 'X').show(10)

+-----+---------+----------+--------------------+
|  Age|newgender|Occupation|                   X|
+-----+---------+----------+--------------------+
| 0-17|        1|        10|a0-17 b1 c10 d690...|
| 0-17|        1|        10|a0-17 b1 c10 d248...|
| 0-17|        1|        10|a0-17 b1 c10 d878...|
| 0-17|        1|        10|a0-17 b1 c10 d854...|
|  55+|        0|        16|a55+ b0 c16 d2854...|
|26-35|        0|        15|a26-35 b0 c15 d19...|
|46-50|        0|         7|a46-50 b0 c7 d184...|
|46-50|        0|         7|a46-50 b0 c7 d346...|
|46-50|        0|         7|a46-50 b0 c7 d972...|
|26-35|        0|        20|a26-35 b0 c20 d27...|
+-----+---------+----------+--------------------+
only showing top 10 rows

In [4]:
#Initializing Tokenizer
regexTokenizer = RegexTokenizer(\
                    inputCol="X", \
                    outputCol="X2", \
                    pattern=" ")

df = regexTokenizer.transform(df)
df.select('Age', 'newgender', 'Occupation','X', 'X2').show(10)

+-----+---------+----------+--------------------+--------------------+
|  Age|newgender|Occupation|                   X|                  X2|
+-----+---------+----------+--------------------+--------------------+
| 0-17|        1|        10|a0-17 b1 c10 d690...|[a0-17, b1, c10, ...|
| 0-17|        1|        10|a0-17 b1 c10 d248...|[a0-17, b1, c10, ...|
| 0-17|        1|        10|a0-17 b1 c10 d878...|[a0-17, b1, c10, ...|
| 0-17|        1|        10|a0-17 b1 c10 d854...|[a0-17, b1, c10, ...|
|  55+|        0|        16|a55+ b0 c16 d2854...|[a55+, b0, c16, d...|
|26-35|        0|        15|a26-35 b0 c15 d19...|[a26-35, b0, c15,...|
|46-50|        0|         7|a46-50 b0 c7 d184...|[a46-50, b0, c7, ...|
|46-50|        0|         7|a46-50 b0 c7 d346...|[a46-50, b0, c7, ...|
|46-50|        0|         7|a46-50 b0 c7 d972...|[a46-50, b0, c7, ...|
|26-35|        0|        20|a26-35 b0 c20 d27...|[a26-35, b0, c20,...|
+-----+---------+----------+--------------------+--------------------+
only showing top 10 rows

In [5]:
countVectorizer = CountVectorizer(inputCol="X2",  outputCol="features")
cvModel = countVectorizer.fit(df)
df = cvModel.transform(df)

df.select('X2','features').show(10)

+--------------------+--------------------+
|                  X2|            features|
+--------------------+--------------------+
|[a0-17, b1, c10, ...|(3725,[1,2,7,10,1...|
|[a0-17, b1, c10, ...|(3725,[2,10,11,12...|
|[a0-17, b1, c10, ...|(3725,[1,2,7,10,1...|
|[a0-17, b1, c10, ...|(3725,[1,2,10,12,...|
|[a55+, b0, c16, d...|(3725,[0,1,2,7,8,...|
|[a26-35, b0, c15,...|(3725,[0,1,2,5,10...|
|[a46-50, b0, c7, ...|(3725,[0,3,4,11,1...|
|[a46-50, b0, c7, ...|(3725,[0,1,3,4,11...|
|[a46-50, b0, c7, ...|(3725,[0,1,3,4,11...|
|[a26-35, b0, c20,...|(3725,[0,1,4,5,6,...|
+--------------------+--------------------+
only showing top 10 rows

In [6]:
#REDUCING NO OF LABELS BY PUTTING PRICE INTO BUCKETS
from pyspark.ml.feature import StringIndexer
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType

df = df.withColumnRenamed('Purchase','label')
df = df.withColumn('labelCategory',((df['label']/1000).cast(IntegerType())).cast(FloatType()))
df.select('label','labelCategory').show(10)

+-----+-------------+
|label|labelCategory|
+-----+-------------+
| 8370|          8.0|
|15200|         15.0|
| 1422|          1.0|
| 1057|          1.0|
| 7969|          7.0|
|15227|         15.0|
|19215|         19.0|
|15854|         15.0|
|15686|         15.0|
| 7871|          7.0|
+-----+-------------+
only showing top 10 rows

In [7]:
# CREATING RANDOM SPLITS
dfFinal = df.select('features','labelCategory') \
            .withColumnRenamed('labelCategory','label')

(trainData, testData) = dfFinal.randomSplit([0.7, 0.3], seed = 888)
print('Training split')
trainData.groupBy('features').count().show(10)
print('Testing split')
testData.groupBy('features').count().show(10)

print('Train Dataset Count : ' + str(trainData.count()))
print('Test Dataset Count  : ' + str(testData.count()))

Training split
+--------------------+-----+
|            features|count|
+--------------------+-----+
|(3725,[0,1,2,3,5,...|    2|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    2|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
+--------------------+-----+
only showing top 10 rows

Testing split
+--------------------+-----+
|            features|count|
+--------------------+-----+
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,5,...|    2|
|(3725,[0,1,2,3,5,...|    1|
|(3725,[0,1,2,3,6,...|    1|
+--------------------+-----+
only showing top 10 rows

Train Dataset Count : 384838
Test Dataset Count  : 165230

In [8]:
#Training
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

#trainData.printSchema()
#testData.printSchema()

lr = LogisticRegression()
lrModel = lr.fit(trainData)
predictions = lrModel.transform(testData)
print('Model Training Complete')

Model Training Complete

In [9]:
predictions.groupBy('prediction').count().orderBy('prediction').show(31)

+----------+-----+
|prediction|count|
+----------+-----+
|       0.0| 3148|
|       1.0| 2968|
|       2.0| 3648|
|       3.0| 2824|
|       4.0| 6231|
|       5.0|24835|
|       6.0| 3442|
|       7.0|23683|
|       8.0|17188|
|       9.0|14803|
|      10.0| 3395|
|      11.0| 9261|
|      12.0| 2291|
|      13.0| 2951|
|      14.0|  169|
|      15.0|26111|
|      16.0| 6884|
|      17.0|  211|
|      18.0|  403|
|      19.0| 5526|
|      20.0| 3258|
|      21.0|  705|
|      23.0| 1295|
+----------+-----+

In [10]:
predictions = predictions.withColumn('predictedLabelCategory', predictions['prediction'])
dfPredicted = df.join(predictions, df.features == predictions.features)
dfPredicted.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- label: integer (nullable = true)
 |-- newgender: integer (nullable = true)
 |-- newpid: integer (nullable = true)
 |-- newcityCategory: integer (nullable = true)
 |-- X: string (nullable = true)
 |-- X2: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- features: vector (nullable = true)
 |-- labelCategory: float (nullable = true)
 |-- features: vector (nullable = true)
 |-- label: float (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)
 |-- predictedLabelCategory: double (nullable = false)

In [11]:
from  pyspark.sql.functions import abs

dfPredicted = dfPredicted.withColumn('PriceRange', dfPredicted['labelCategory']*1000)
dfPredicted = dfPredicted.withColumn('PredictedPriceRange', dfPredicted['predictedLabelCategory']*1000)

pp = dfPredicted.groupBy('PriceRange').count().count()
print('No. of Price Points = %i'%(pp))

# +1 to deal with the NULL values 
dfPredicted = dfPredicted.withColumn('error', abs(((dfPredicted['PriceRange']) - dfPredicted['PredictedPriceRange'])))
dfPredicted.select(['PriceRange','PredictedPriceRange','error']).show()

statistics = dfPredicted.select('error').summary()

err = statistics.collect()[1]['error']
print('Average Error = %0.4f'%(float(err)))

statistics.show()

No. of Price Points = 24
+----------+-------------------+------+
|PriceRange|PredictedPriceRange| error|
+----------+-------------------+------+
|    1000.0|             1000.0|   0.0|
|    7000.0|             7000.0|   0.0|
|   19000.0|            19000.0|   0.0|
|   19000.0|            19000.0|   0.0|
|    3000.0|             7000.0|4000.0|
|   15000.0|            15000.0|   0.0|
|    5000.0|             5000.0|   0.0|
|   19000.0|            15000.0|4000.0|
|    5000.0|             7000.0|2000.0|
|    5000.0|             7000.0|2000.0|
|    7000.0|             5000.0|2000.0|
|   12000.0|             9000.0|3000.0|
|    8000.0|             5000.0|3000.0|
|   15000.0|            11000.0|4000.0|
|   10000.0|             8000.0|2000.0|
|   19000.0|            19000.0|   0.0|
|    8000.0|             9000.0|1000.0|
|   12000.0|            11000.0|1000.0|
|    5000.0|             7000.0|2000.0|
|   19000.0|            15000.0|4000.0|
+----------+-------------------+------+
only showing top 20 rows

Average Error = 2055.4012
+-------+-----------------+
|summary|            error|
+-------+-----------------+
|  count|           228948|
|   mean|2055.401226479375|
| stddev|2359.715037530347|
|    min|              0.0|
|    25%|              0.0|
|    50%|           1000.0|
|    75%|           4000.0|
|    max|          19000.0|
+-------+-----------------+

In [12]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark.sparkContext)

jdf=df.join(predictions,df.features==predictions.features)
jdf.show(5)
jdf.registerTempTable("table1")
spark.sql("select * from table1").show()

predcount=spark.sql("SELECT Product_ID, \
                     prediction, \
                     count(prediction) as countpred from table1 group by Product_ID, \
                     prediction order by Product_ID,countpred desc")
predcount.registerTempTable("table2")

predcount2=spark.sql("SELECT Product_ID, \
                      max(countpred) as maxpred from table2 group by Product_ID order by Product_ID")
predcount2.registerTempTable("table3")

ppp=spark.sql("SELECT table2.Product_ID, \
               table2.prediction, \
               table3.maxpred from table2 inner join table3 on \
                  table2.Product_ID=table3.Product_ID \
                  and table2.countpred = table3.maxpred ")

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|label|newgender|newpid|newcityCategory|                   X|                  X2|            features|labelCategory|            features|label|       rawPrediction|         probability|prediction|predictedLabelCategory|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null| 1057|        1| 85442|              0|a0-17 b1 c10 d854...|[a0-17, b1, c10, ...|(3725,[1,2,10,12,...|          1.0|(3725,[1,2,10,12,...|  1.0|[10.2394918001907...|[0.03275479089426...|       1.0|                   1.0|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null| 7969|        0|285442|              2|a55+ b0 c16 d2854...|[a55+, b0, c16, d...|(3725,[0,1,2,7,8,...|          7.0|(3725,[0,1,2,7,8,...|  7.0|[-5.2304859233083...|[5.75195265654850...|       7.0|                   7.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|19215|        0|184942|              1|a46-50 b0 c7 d184...|[a46-50, b0, c7, ...|(3725,[0,3,4,11,1...|         19.0|(3725,[0,3,4,11,1...| 19.0|[-4.4619000406577...|[1.24487229766744...|      19.0|                  19.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|19215|        0|184942|              1|a46-50 b0 c7 d184...|[a46-50, b0, c7, ...|(3725,[0,3,4,11,1...|         19.0|(3725,[0,3,4,11,1...| 19.0|[-4.4619000406577...|[1.24487229766744...|      19.0|                  19.0|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null| 3957|        0| 14542|              0|a26-35 b0 c20 d14...|[a26-35, b0, c20,...|(3725,[0,1,4,5,6,...|          3.0|(3725,[0,1,4,5,6,...|  3.0|[-2.8326417876770...|[6.47803423712783...|       7.0|                   7.0|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
only showing top 5 rows

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|label|newgender|newpid|newcityCategory|                   X|                  X2|            features|labelCategory|            features|label|       rawPrediction|         probability|prediction|predictedLabelCategory|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null| 1057|        1| 85442|              0|a0-17 b1 c10 d854...|[a0-17, b1, c10, ...|(3725,[1,2,10,12,...|          1.0|(3725,[1,2,10,12,...|  1.0|[10.2394918001907...|[0.03275479089426...|       1.0|                   1.0|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null| 7969|        0|285442|              2|a55+ b0 c16 d2854...|[a55+, b0, c16, d...|(3725,[0,1,2,7,8,...|          7.0|(3725,[0,1,2,7,8,...|  7.0|[-5.2304859233083...|[5.75195265654850...|       7.0|                   7.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|19215|        0|184942|              1|a46-50 b0 c7 d184...|[a46-50, b0, c7, ...|(3725,[0,3,4,11,1...|         19.0|(3725,[0,3,4,11,1...| 19.0|[-4.4619000406577...|[1.24487229766744...|      19.0|                  19.0|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|19215|        0|184942|              1|a46-50 b0 c7 d184...|[a46-50, b0, c7, ...|(3725,[0,3,4,11,1...|         19.0|(3725,[0,3,4,11,1...| 19.0|[-4.4619000406577...|[1.24487229766744...|      19.0|                  19.0|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null| 3957|        0| 14542|              0|a26-35 b0 c20 d14...|[a26-35, b0, c20,...|(3725,[0,1,4,5,6,...|          3.0|(3725,[0,1,4,5,6,...|  3.0|[-2.8326417876770...|[6.47803423712783...|       7.0|                   7.0|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|15665|        0|145042|              0|a26-35 b0 c20 d14...|[a26-35, b0, c20,...|(3725,[0,4,5,6,10...|         15.0|(3725,[0,4,5,6,10...| 15.0|[-2.9085090091551...|[7.94048658639339...|      15.0|                  15.0|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14| 5378|        1|231342|              0|a51-55 b1 c9 d231...|[a51-55, b1, c9, ...|(3725,[2,6,9,10,1...|          5.0|(3725,[2,6,9,10,1...|  5.0|[-6.4513668637797...|[1.16336891355743...|       5.0|                   5.0|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|19614|        0|249542|              2|a26-35 b0 c12 d24...|[a26-35, b0, c12,...|(3725,[0,4,5,8,11...|         19.0|(3725,[0,4,5,8,11...| 19.0|[-3.4174868388756...|[4.79410466055317...|      15.0|                  15.0|
|1000009| P00078742|     M|26-35|        17|            C|                         0|             0|                 5|                 8|                14| 5391|        0| 78742|              2|a26-35 b0 c17 d78...|[a26-35, b0, c17,...|(3725,[0,2,5,8,9,...|          5.0|(3725,[0,2,5,8,9,...|  5.0|[-4.6172310300737...|[4.11224052250175...|       7.0|                   7.0|
|1000010| P00297942|     F|36-45|         1|            B|                        4+|             1|                 8|              null|              null| 5875|        1|297942|              1|a36-45 b1 c1 d297...|[a36-45, b1, c1, ...|(3725,[1,3,4,7,12...|          5.0|(3725,[1,3,4,7,12...|  5.0|[-4.5232088631823...|[4.60226461495257...|       7.0|                   7.0|
|1000010| P00105942|     F|36-45|         1|            B|                        4+|             1|                 5|              null|              null| 7089|        1|105942|              1|a36-45 b1 c1 d105...|[a36-45, b1, c1, ...|(3725,[1,3,4,7,9,...|          7.0|(3725,[1,3,4,7,9,...|  7.0|[-4.1332010286823...|[2.64485030280343...|       5.0|                   5.0|
|1000010| P00182642|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|12909|        1|182642|              1|a36-45 b1 c1 d182...|[a36-45, b1, c1, ...|(3725,[3,4,12,14,...|         12.0|(3725,[3,4,12,14,...| 12.0|[-4.2373779822336...|[1.44857351458753...|       9.0|                   9.0|
|1000010| P00186942|     F|36-45|         1|            B|                        4+|             1|                 5|                12|              null| 8770|        1|186942|              1|a36-45 b1 c1 d186...|[a36-45, b1, c1, ...|(3725,[1,3,4,9,12...|          8.0|(3725,[1,3,4,9,12...|  8.0|[-4.2807458738286...|[2.14048876049652...|       5.0|                   5.0|
|1000010| P00221342|     F|36-45|         1|            B|                        4+|             1|                 1|                 2|                 5|15705|        1|221342|              1|a36-45 b1 c1 d221...|[a36-45, b1, c1, ...|(3725,[3,4,11,12,...|         15.0|(3725,[3,4,11,12,...| 15.0|[-4.6523293827656...|[1.01950352586343...|      11.0|                  11.0|
|1000010| P00312142|     F|36-45|         1|            B|                        4+|             1|                 8|              null|              null|10007|        1|312142|              1|a36-45 b1 c1 d312...|[a36-45, b1, c1, ...|(3725,[1,3,4,7,12...|         10.0|(3725,[1,3,4,7,12...| 10.0|[-4.4882871991661...|[4.67112555551037...|       8.0|                   8.0|
|1000011| P00110842|     F|26-35|         1|            C|                         1|             0|                 1|                 2|                 5|19327|        1|110842|              2|a26-35 b1 c1 d110...|[a26-35, b1, c1, ...|(3725,[2,5,6,8,11...|         19.0|(3725,[2,5,6,8,11...| 19.0|[-4.6392549761811...|[7.81136817704395...|      19.0|                  19.0|
|1000011| P00189642|     F|26-35|         1|            C|                         1|             0|                 8|                13|              null| 8027|        1|189642|              2|a26-35 b1 c1 d189...|[a26-35, b1, c1, ...|(3725,[1,2,5,6,8,...|          8.0|(3725,[1,2,5,6,8,...|  9.0|[-5.1095395117492...|[1.43270620123043...|       9.0|                   9.0|
|1000013| P00182342|     M|46-50|         1|            C|                         3|             1|                 1|                 5|                 6|12107|        0|182342|              2|a46-50 b0 c1 d182...|[a46-50, b0, c1, ...|(3725,[0,4,8,11,1...|         12.0|(3725,[0,4,8,11,1...| 12.0|[-3.6717375936060...|[3.09196984823193...|      11.0|                  11.0|
|1000014| P00276642|     M|36-45|         0|            C|                         0|             0|                 8|                11|              null| 5848|        0|276642|              2|a36-45 b0 c0 d276...|[a36-45, b0, c0, ...|(3725,[0,1,2,8,13...|          5.0|(3725,[0,1,2,8,13...|  5.0|[-5.2864179460970...|[1.69082868694777...|       7.0|                   7.0|
|1000015| P00334242|     M|26-35|         7|            A|                         1|             0|                 1|                 8|              null|19653|        0|334242|              0|a26-35 b0 c7 d334...|[a26-35, b0, c7, ...|(3725,[0,1,2,5,6,...|         19.0|(3725,[0,1,2,5,6,...| 19.0|[-4.1221722781633...|[2.92873435635413...|      15.0|                  15.0|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+-----+---------+------+---------------+--------------------+--------------------+--------------------+-------------+--------------------+-----+--------------------+--------------------+----------+----------------------+
only showing top 20 rows

In [16]:
ppp = ppp.withColumn('PredictedTotalSalesAmountInMillions', (ppp['prediction']*1000*ppp['maxpred'])/1000000)
ppp.select(['product_ID', \
            'prediction', \
            'maxpred', \
            'PredictedTotalSalesAmountInMillions']) \
                .orderBy('PredictedTotalSalesAmountInMillions', ascending = False) \
                .show(40)

+----------+----------+-------+-----------------------------------+
|product_ID|prediction|maxpred|PredictedTotalSalesAmountInMillions|
+----------+----------+-------+-----------------------------------+
| P00025442|      19.0|   1238|                             23.522|
| P00110742|      19.0|   1062|                             20.178|
| P00010742|      19.0|   1048|                             19.912|
| P00237542|      19.0|   1020|                              19.38|
| P00110942|      19.0|   1007|                             19.133|
| P00184942|      19.0|    999|                             18.981|
| P00255842|      20.0|    905|                               18.1|
| P00046742|      15.0|   1138|                              17.07|
| P00059442|      20.0|    804|                              16.08|
| P00110842|      19.0|    792|                             15.048|
| P00057642|      15.0|    976|                              14.64|
| P00028842|      20.0|    727|                              14.54|
| P00112142|      15.0|    911|                             13.665|
| P00080342|      19.0|    678|                             12.882|
| P00145042|      15.0|    838|                              12.57|
| P00148642|      20.0|    611|                              12.22|
| P00052842|      23.0|    519|                             11.937|
| P00265242|       8.0|   1451|                             11.608|
| P00242742|      15.0|    747|                             11.205|
| P00270942|      15.0|    736|                              11.04|
| P00005042|      20.0|    529|                              10.58|
| P00044442|      15.0|    701|                             10.515|
| P00112442|      20.0|    472|                               9.44|
| P00000142|      13.0|    694|                              9.022|
| P00113242|      19.0|    470|                               8.93|
| P00111142|      19.0|    435|                              8.265|
| P00116842|      16.0|    504|                              8.064|
| P00334242|      19.0|    422|                              8.018|
| P00058042|       9.0|    888|                              7.992|
| P00051442|       9.0|    886|                              7.974|
| P00105142|      15.0|    530|                               7.95|
| P00073842|      15.0|    525|                              7.875|
| P00036842|      15.0|    516|                               7.74|
| P00355142|      15.0|    499|                              7.485|
| P00111742|      21.0|    349|                              7.329|
|  P0097242|      15.0|    487|                              7.305|
| P00147942|      15.0|    480|                                7.2|
| P00057942|      15.0|    474|                               7.11|
| P00085942|      16.0|    438|                              7.008|
| P00182142|      15.0|    447|                              6.705|
+----------+----------+-------+-----------------------------------+
only showing top 40 rows